*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:"PingFang SC","Microsoft Yahei";
}

a{
    text-decoration: none;
    margin-left:20px;
    color: #555;
}

.text-center{
    text-align: center;
}

.hr{
    border-bottom:1px solid #ccc;
}

.title{
    font-size: 30px;
    text-align: center;
}

.container{
    position: relative;
    margin:0 auto;
    width: 1000px;
    font-size:0;
    background-color: #f4f1ea;
    height: 1410px;
}

.slider{
    position: relative;
    /*display: inline-block;*/
    display: none;
    padding-top:10px;
    width: 200px;
    font-size:14px;
    color: #efefef;
    background-color: #555;
}

.title{
    margin-left: 30px;
    margin-right:30px;
    padding-bottom:10px;
}

.photo{
    width: 135px;
    height: 165px;
    /*margin: 15px auto;*/
    border-radius: 5px;
    border:8px solid #cfcfcf;
}

.photo-head{
    width: 120px;
    height:150px;
    -webkit-box-shadow:  0 0 6px #a2a2a2;
    -moz-box-shadow:  0 0 6px #a2a2a2;
    box-shadow:  0 0 6px #a2a2a2;
}

.info-item{
    margin-top:10px;
    margin-left: 30px;
    margin-right:30px;
    margin-bottom:5px;
}

.career{
    font-size:20px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

.dl dt{
    display: inline-block;
    margin-top: 10px;
    margin-bottom:8px;
    width: 80px;
    text-align: right;
}

.dl dd{
    display: inline-block;
    margin-left:8px;
    width: 80px;
    text-align: left;
    -webkit-margin-start: -10px
}

dd a{
    color: #fff;
    margin-left: 0;
}

dd ol{
    margin: 0;
    padding: 0;
}

dd p{
    margin: 0;
}

.progress{
    position: relative;
    top:-2px;
    margin-left:15px;
    width: 90%;
    height:15px;
    line-height:15px;
    font-size:12px;
    color: #fff;
    background-color: #a2a2a2;
    border-radius: 10px;
}

.progress-100:before{
    content: "*";
    display: block;
    width:100%;
    text-align: center;
    background-color: #dddddd;
    border-radius: 10px;
}

.progress-90:before{
    content: '.';
    display: block;
    width: 90%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.progress-80:before{
    content: '.';
    display: block;
    width: 80%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.progress-85:before{
    content: '.';
    display: block;
    width: 85%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.progress-75:before{
    content: '.';
    display: block;
    width: 75%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.progress-65:before{
    content: '.';
    display: block;
    width: 65%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.progress-55:before{
    content: '.';
    display: block;
    width: 55%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.progress-40:before{
    content: '.';
    display: block;
    width: 40%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.progress-30:before{
    content: '.';
    display: block;
    width: 30%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.progress-20:before{
    content: '.';
    display: block;
    width: 20%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.notes{
    text-indent: 30px;
    text-align: justify;
    padding:0 10px;
}


.main{
    position: absolute;
    left: 0;
    display: inline-block;
    /*margin-left:220px;*/
    margin-left: 20px;
    padding-top:20px;
    width:1000px;
    font-size:16px;
}

.section{
    width: 950px;
}

.section .header{
    width:960px;
    padding-left:20px;
    color: #fff;
    background-color: #555;
    border-radius: 5px;
}

.section .content{
    width: 980px;
    font-size:15px;
}

.section .content li{
    width: 930px;
}

.content .pro-info .pro-name,
.content .pro-info .pro-time{
    display: inline-block;
    height: 20px;
    width: 400px;
    line-height:20px;
}

.content .pro-dl li{
    width: 580px;
}

.pro-dl{
    margin: 0;
}

.pro-dl dt{
    margin-top: 10px;
}

.project .content{
    padding: 10px;
}

.design{
    position: relative;
    height: 200px;
}
.aside,
.right {
    position: absolute;
}
.aside{
    width: 250px;
}

.right{
    left: 230px;
    width:350px ;
}
.pro-img{
    margin-top:10px;
    width: 200px;
}

.info-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.info-blocks div{
    width: 25%;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fefefe;
    background-color: #000;
}

footer a{
    margin-left:5px;
    margin-right: 5px;
}

.intro-wrapper{
    width: 980px;
    padding: 15px;
    display: flex;
}